**/*~
**/*.elf
**/*.o
**/*.so
**/*.a
**/*.mod
**/.ipynb_checkpoints/*

**/obj/*
!**/obj/this-directory-is-intentionally-left-empty

**/run/*
!**/run/this-directory-is-intentionally-left-empty

**/output/*
!**/output/this-directory-is-intentionally-left-empty

gitignore/*
!gitignore/the-contents-of-this-directory-are-ignored-by-default

stdout.log

links/*
